@font-face {
    font-family: 'titilium-web-regular';
    src: url("../polices/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "Titillium Web";
    src: url("../polices/TitilliumWeb-Bold.ttf");
    src: url("../polices/TitilliumWeb-SemiBold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url('../polices/OpenSans-SemiBold.ttf');
    src: url('../polices/OpenSans-Bold.ttf');
    src: url('../polices/OpenSans-Regular.ttf');

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.nav-toggle {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 30px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.nav-toggle-bar::before,
.nav-toggle-bar::after,
.nav-toggle-bar {
    content: '';
    position: absolute;
    left: 0;
    width: 125%;
    height: 2px;
    background: #428421;
    z-index: 10;
    transition: all 0.5s;
}

.nav-toggle-bar:before {
    top: -11px;
    width: 100%;
}

.nav-toggle-bar::after {
    top: 11px;
    width: 100%;
}

/* Transformation du menu en croix */
.nav-toggle.active > .nav-toggle-bar::before {
    background: #428421;
    transform: rotate(45deg);
    transition: all 0.5s;
    top: 0;
}

.nav-toggle.active > .nav-toggle-bar::after {
    background: #428421;
    transform: rotate(135deg);
    transition: all 0.5s;
    top: 0;
}

/*Réglages du menu de navigation (ferme)*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ececec;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-100vw);
    transition: all 5s ease-out;
    transition-duration: 0.5s;
    overflow: hidden;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.6rem;
    line-height: 1.3;
}

.menu li {
    padding: 20px;
    opacity: 1;
}

.menu li:nth-child(6) {
    border-bottom: none;
}

/*Réglages du menu de navigation (ouvert)*/
.noscroll {
    overflow: hidden;
}

.menu.open {
    visibility: visible;
    transform: translateX(0vw);
    transition: all 5s ease-out;
    transition-duration: 0.5s;
    pointer-events: all;

}

.menu.open li:nth-child(n+1) {
    transition-delay: 0.1s;
}

.menu.open li:nth-child(n+2) {
    transition-delay: 0.2s;
}

.menu.open li:nth-child(n+3) {
    transition-delay: 0.3s;
}

.menu.open li:nth-child(n+4) {
    transition-delay: 0.4s;
}

.menu.open li:nth-child(n+5) {
    transition-delay: 0.5s;
}

.menu.open li:nth-child(n+6) {
    transition-delay: 0.6s;
}

.menu li {
    transform: translateX(-60vw);
}

.menu.open li {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.menu.open > ul {
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
    text-align: center;
    position: relative;
}

/* Changements typographiques du menu */

body > header > div.nav-toggle > div > nav > ul > li:nth-child(5) {
    width: 100vw;
    border-bottom: solid 3px #1E4340;
}

body > header > div.nav-toggle > div > nav > ul > li a {
    font-family: 'titilium-web-regular', sans-serif;
    font-size: 3rem;
    color: #1E4340;
    text-decoration: none;
}

body > header > div.nav-toggle > div > nav > ul > li a:hover {
    color: #1E4340;
    text-decoration: none;
}

body > header > div.nav-toggle > div > nav > ul > li > button, body > header > div.nav-toggle > div > nav > ul > li > button a {
    height: 50px;
    width: 200px;
    color: #ffffff;
    background: #428421;
    border: none;
    border-radius: 15px;
}

/* Modifications graphiques générales */

header {
    height: 70px;
    width: 100vw;
    background: #FFF;
    position: fixed;
    z-index: 10;
    box-shadow: 0 1px 5px rgba(100, 100, 100, .3);
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 4.6rem;
    font-weight: bold;
    margin: auto 0 auto auto;
    color: #428421;
    padding: 0;
}

h1 > span {
    color: #f08d54;
}

.logo {
    width: 39px;
    height: 53px;
    margin: auto auto auto 0;
}

.titre {
    display: flex;
}

/* Footer */

.bgf {
    background: #707070;
}

footer {
    background: #707070;
    color: #ECECEC;
    padding-top: 5px;
    margin-top: 35px;
}

footer > p {
    color: #ECECEC;
}

.social {
    width: 35px;
    margin: 10px;
    height: auto;
}

.mentions {
    text-align: center;
    font-size: 1.6rem;
}

.footer {
    display: inline-block;
    margin: 0 65px;
}

h5 {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

body > div > footer > div.row > div.col-md-7 > h5:nth-child(5) {
    margin-bottom: 10px;
}

.reseaux {
    float: left;
    width: 40vw;
}

body > div > footer > div.row > div:nth-child(2) > ul a {
    color: #ECECEC;
    font-family: titilium-web-regular, sans-serif;
    font-size: 1.7rem;
    font-weight: normal;
    text-decoration: none;
}

body > div > footer > div.row > div:nth-child(2) > ul li {
    list-style: none;
    margin: 0;
    padding-top: 10px;
}

body > div > footer > div.row > div:nth-child(2) > ul {
    margin: 0;
    padding: 0;
}

.mentions_legales {
    text-align: center;
}

.mentions_legales > a {
    font-family: "titilium-web-regular", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: underline;
    color: #ECECEC;
    cursor: pointer;
}

input {
    border-radius: 10px;
    border: solid 1px #ececec;
    background: none;
    width: 70vw;
    height: 32px;
    margin-bottom: 10px;
}

/* Page Inscription */

